@import "../../../../../styles/variables.scss";

.this__Day_info {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: $lite-backgroud;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 0px;
  }

  .indicator,
  .indicator_name {
    margin-right: 20px;
  }
  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lite-backgroud;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    border-radius: 50%;
  }
  .indicator_name,
  .indicator_value {
    font-size: 14px;
  }
  .indicator_name {
    color: $base-color;
  }
  .indicator_value {
    color: $lite-color;
  }
}

.cloud__img {
  position: absolute;
  top: 0;
  right: 0;
}
