@import "../../styles/variables.scss";
.popup {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 325px);
  z-index: 1001;
  display: flex;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: $light-backgroud;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  align-items: center;
  justify-content: space-between;
}
.blur {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.close:hover {
  svg {
    transition: 0.8s;
  }
  svg {
    transform: rotate(360deg);
  }
}
.day {
  .day__temp {
    color: $primary-color;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  .day__name {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 12px;
  }
  .day__time,
  .day__city {
    color: $base-color;
    font-size: 15px;
  }
  .img {
    svg {
      width: 53px;
      height: 53px;
    }
    margin-bottom: 12px;
  }
}
