@import "../../../../../styles/variables.scss";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; //0
  padding-top: 27px;
  width: 100%;
  background: var(#{--components-backgroud-default});
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 20px 20px 20px 20px;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(#{--card-backgroud-default});
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: 0.3s;
  .day {
    margin-bottom: 7px;
    font-size: 10px;
    color: var(#{--text-color-default});
  }
  .day__info {
    font-size: 14px;
    margin-bottom: 12px;
    color: $base-color;
  }
  .img {
    margin-bottom: 12px;
  }
  .temp__day {
    color: var(#{--text-color-default});
    font-size: 18px;
  }
  .temp__night {
    font-size: 13px;
    color: $base-color;
    margin-bottom: 7px;
  }
  .info {
    font-size: 13px;
    color: $base-color;
  }
}

.card:hover {
  box-shadow: var(#{--card-box-shadow-default});
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.tabs__wrapper {
  display: flex;
}
.tab,
.cancel {
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  padding: 9px 20px;
  background-color: var(#{--components-backgroud-default});
  margin-right: 15px;
  color: var(#{--text-color-default});
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.tab:last-child {
  margin-right: 0px;
}
.cancel {
  margin-right: 0;
}

.tab {
  &.active {
    background: $primary-color;
    color: #fff;
  }
}
